{{ 'gift-banner.css' | asset_url | stylesheet_tag }}

  <section class="gift-guide-banner">

  <div class="gift-guide-background">
    {% if section.settings.background_image != blank %}
      {{ section.settings.background_image
 | image_url: width: 2400
 | image_tag:
 loading: 'eager',
 class: 'gift-guide-bg-image'
      }}
    {% endif %}
  </div>


  <!-- Top Bar -->

 <div class="gift-guide-topbar">
  <div class="gift-guide-logo">
    {{ section.settings.logo_text }}
  </div>

  <button
    class="gift-guide-menu"
    type="button"
    aria-expanded="false"
    aria-controls="gift-guide-topbar-menu"
  >
    <span></span>
    <span></span>
    <span></span>
    <span class="visually-hidden">Toggle menu</span>
  </button>

  <div class="gift-guide-topbar-mobile-menu" id="gift-guide-topbar-menu">
    <div class="gift-guide-message">
      {{ section.settings.top_message }}
    </div>

    {% if section.settings.top_button_text != blank %}
      <a
        href="{{ section.settings.top_button_link | default: '#' }}"
        class="gift-guide-top-button"
      >
        {{ section.settings.top_button_text }}

        <span class="gift-guide-arrow">
          <img
            src="{{ 'right-arroe.svg' | asset_url }}"
            alt="Arrow"
            width="25"
            height="16"
          >
        </span>
      </a>
    {% endif %}
  </div>
</div>


  <!-- Main Content -->

  <div class="gift-guide-content">

    {% if section.settings.heading != blank %}
      <h1>
        {{ section.settings.heading }}
      </h1>
    {% endif %}


    {% if section.settings.description != blank %}
      <div class="gift-guide-description">
        {{ section.settings.description }}
      </div>
    {% endif %}


    {% if section.settings.button_text != blank %}
      <a href="{{ section.settings.button_link }}" class="gift-guide-button">

        {{ section.settings.button_text }}

        <span class="gift-guide-arrow">
          <img src="{{ 'right-arroe.svg' | asset_url }}" alt="Arrow">
        </span>

      </a>
    {% endif %}


  </div>


  <!-- Bottom Bar -->

  <div class="gift-guide-bottom-bar">
    {{ section.settings.bottom_text }}
  </div>


</section>


<script src="{{ 'gift-banner.js' | asset_url }}" defer="defer"></script>
{% schema %}
  {
    "name": "Gift Guide Banner",

    "settings": [

      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },


      {
        "type": "text",
        "id": "logo_text",
        "label": "Logo Text",
        "default": "TISSO VISON"
      },


      {
        "type": "text",
        "id": "top_message",
        "label": "Top Message",
        "default": "Find the ideal gift for your loved ones."
      },


      {
        "type": "text",
        "id": "top_button_text",
        "label": "Top Button Text",
        "default": "CHOOSE GIFT"
      }, {
        "type": "url",
        "id": "top_button_link",
        "label": "Top Button Link"
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "The Gift Guide"
      }, {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>Discover joy. Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season.</p>"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "SHOP NOW"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }, {
        "type": "text",
        "id": "bottom_text",
        "label": "Bottom Text",
        "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
      }

    ],


    "presets": [
      {
        "name": "Gift Guide Banner"
      }
    ]
  }
{% endschema %}